.login-page{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 2em;
    align-items: center;
}

#login-form{
    width: 25%;
}

#login-form .text-hint{
    width: 100%;
    text-align: end;
    padding: 0.2em;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

#login-form h2{
    text-align: center;
}

#login-form p{
    font-size: 24px;
}